.circle-1 {
  position: absolute;
  /* height: 50vh; */
  /* width: 50vh; */
  margin-top: 20px;
  margin-bottom: 20px;
}
.circle-1::after {
  content: "";
  position: absolute;
  height: 50vh;
  width: 50vh;
  border: 3px dotted gray;
  border-radius: 9999px;
  -webkit-animation: spin 15s linear infinite;
  -moz-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
}
.circle-2 {
  position: relative;
}
.circle-2::after {
  content: "";
  position: absolute;
  width: 38vh;
  height: 38vh;
  border-radius: 9999px;
  border: 5px dotted gray;
  -webkit-animation: spin 10s linear reverse infinite;
  -moz-animation: spin 10s linear reverse infinite;
  animation: spin 10s linear reverse infinite;
}

.circle-3 {
  position: relative;
}
.circle-3::after {
  content: "";
  position: absolute;
  width: 20vh;
  height: 20vh;
  border-radius: 9999px;
  border: 3px dotted gray;
  -webkit-animation: spin 20s linear infinite;
  -moz-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 576px) {
  .circle-1 {
    width: 90vw;
    height: 90vw;
  }
  .circle-1::after {
    border: 2px dashed gray;
    border-radius: 9999px;
    width: 90vw;
    height: 90vw;
  }
  .circle-2::after {
    border: 3px dotted gray;
    border-radius: 9999px;
    width: 75vw;
    height: 75vw;
  }

  .circle-3::after {
    border: 2px dotted gray;
    border-radius: 9999px;
    width: 50vw;
    height: 50vw;
  }
}
